#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
}

.logo-box {
  position: relative;
  height: 9em;
  width: 9em;
}
.content {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

.logo {
  position: absolute;
  left: calc(50% - 4.5em);
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.electron {
    animation: logo-spin infinite 20s linear;
  }
}